@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">The purpose of this project is to understand the basics when making a webapp with ASP.NET and C#.</p>
    <p><a href="http://iantipson.com/2016/01/19/assignment-1/" target ="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            To learn more about this website and course.
        </p>
        <p><a class="btn btn-default" href="http://localhost:2554/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Developer contact information.</p>
        <p><a class="btn btn-default" href="http://localhost:2554/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Phones</h2>
        <p>Some Phone information provided as a basics to understanding ASP.NET MVC.</p>
        <p><a class="btn btn-default" href="http://localhost:2554/Phones">Learn more &raquo;</a></p>
    </div>
</div>